<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.name }}的观看列表</title>
    <link rel="icon" href="{{ url_for('static', filename='ico.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    {% endblock %}
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    <h1>
        <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='xiugou.png') }}">
        {{ user.name }}的观看列表
    </h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('main.index') }}">主页</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('main.settings') }}">设置</a></li>
            <li><a href="{{ url_for('auth.logout') }}">登出</a></li>
            {% else %}
    <li><a href="{{ url_for('auth.login') }}">登入</a></li>
{% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock %}
    <footer>
        <small>&copy; 2025 <a href="https://github.com/WENDUCHANG/watchlist" target="_blank">Github links</a></small>
    </footer>
</body>
</html>